.formulario{
    box-shadow:2px 2px 10px rgb(146, 146, 146);
}
#table_div,#tableNotas_div{
    border: 2px solid rgb(218, 218, 218);
    border-radius: 5px;
    filter: drop-shadow(2px 2px 10px rgb(230, 228, 228));
}
#pie_div{
    width: 600px;
    height: 600px;
}
.row{
    margin: 20px;
}